<h1 class="text-center text-light">Lfscript </h1>
<div class="btn-group">
    <button class="btn btn-secondary">Archivo</button>
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Reportes
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="#">Dropdown link</a>
          <a class="dropdown-item" href="#">Dropdown link</a>
        </div>
      </div>
    <button class="btn btn-secondary">Ejecutar</button>
    
  </div>
