<!--AREA DE BOTONES-->
<div class="btn-group" id="OpcionesLfs">
    <div class="dropdown btn btn-secondary">
        Archivo
        <div class="dropdown-content">
          <a onclick="addTab()">Abrir</a>
          <a href="#">Guardar</a>
          <a href="#">Guardar Como</a>
          <a href="#">Crear</a>
        </div>
    </div>
    <div class="dropdown btn btn-secondary">
        Reportes
        <div class="dropdown-content">
          <a href="#">Reporte Ast</a>
          <a href="#">Reporte Errores</a>
          <a href="#">Reporte Ts</a>
        </div>
    </div>
    <button type="button" class="btn btn-secondary">Ejecutar</button>
</div>
  
<!--AREA DE VENTANAS PARA MOSTRAR INFORMACION-->
<div class="container-fluid" id="AreaMostrarI">
  <div class="row">
    <div class="col-6" id="AOpenFiles">
        <ul class="options" id="NamePest">
          <li id="option1" class="option option-active">Seccion1</li>
          <li id="option2" class="option">Seccion2</li>
          <li id="option3" class="option">Seccion2</li>
        </ul>
      
        <div class="contents" id="ContPest">
          <div id="content1" class="content content-active">
            <textarea class="tAreaW"></textarea>
          </div>
          <div id="content2"  class="content">
            <h1>Hola 2</h1>
          </div>
          <div id="content3"  class="content">
            <h1>Hola 3</h1>
          </div>
         
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-5" >
      <textarea class="tAreaW" id="consoleLfs" disabled ></textarea>
    </div> 
</div>


