<header><h1 class="text-center text-light">Tabla de Simbolos </h1></header>
<div class="container-fluid">
    <button id="btnSalir"  class="btn btn-secondary  btnEffect" routerLink="">Salir</button>
    <button id="btnMostrar"  class="btn btn-secondary  btnEffect" (click)="graficarTabla()">Mostrar Tabla</button>
    <button id="btnMGts"  class="btn btn-secondary  btnEffect" (click)="graficarTablaTs()">GraficaTs( )</button>
    <table id="TablaEnvs" class="table table-dark pt-4 animate__animated animate__zoomInDown" *ngIf="Tablevisibility">
        <thead>
        <tr>
          <th *ngFor="let x of cabecera" class="text-center">{{x}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let env of enviroments">
          <td *ngFor="let elemento of env" class="text-center">{{elemento}}</td>
        </tr>
        </tbody>
      </table>
</div>
